body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quadro{
    background-color: rgb(249, 214, 255);

    display: flex;
    justify-content: center;
    flex-direction: column; 
    /* align-items: flex-start; */

    /* margin-right: 1200px; */
    width: fit-content;
    border-radius: 10px 10px 10px 10px;

}

.pacote{
    background-color: rgb(158, 26, 151);
    color: white;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin: 15px;
    
    width: fit-content;
    border-radius: 20px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10px;
}

.desconto{
    padding-left: 15px;
    padding-bottom: 5px;

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.texto{
    padding-left: 15px;
    padding-bottom: 25px;

    width: 280px;

    font-family: "Fira Sans", sans-serif;
    font-size: 29px;
    font-weight: 300;
}

.linck{
    padding-left: 15px;
    padding-bottom: 30px;

    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.img{
    display: flex;
    justify-content: center;

    padding: 20px;
}

.final{
    background-color: rgb(158, 26, 151);
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

/*================================================================================================*/

.quadro2{
    background-color: rgb(255, 240, 174);

    display: flex;
    justify-content: center;
    flex-direction: column; 
    /* align-items: flex-start; */

    /* margin-right: 1200px; */
    width: fit-content;
    border-radius: 10px;
}

.hoteis{
    background-color: rgb(139, 67, 0);
    color: white;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin: 15px;
    
    width: fit-content;
    border-radius: 20px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10px;
}

.final2{
    background-color: rgb(139, 67, 0);
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

/*================================================================================================*/

.quadro3{
    background-color: rgb(209, 255, 209);

    display: flex;
    justify-content: center;
    flex-direction: column; 
    /* align-items: flex-start; */

    /* margin-right: 1200px; */
    width: fit-content;
    border-radius: 10px;
}

.carros{
    background-color: rgb(17, 146, 0);
    color: white;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin: 15px;
    
    width: fit-content;
    border-radius: 20px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10px;
}

.final3{
    background-color: rgb(17, 146, 0);
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

/*=====================================================================================================*/

.quadro4{
    background-color: rgb(184, 229, 255);

    display: flex;
    justify-content: center;
    flex-direction: column; 
    /* align-items: flex-start; */

    /* margin-right: 1200px; */
    width: fit-content;
    border-radius: 10px;
}