.barra-superior{
    border: solid 1px #ff0000; 
    background-color: blueviolet;
    display:flex;
    flex-direction: row;/*Os elementos filhos ficaramo na horizontal*/
    
}

.barra-de-busca{
    background-color: #efefff;
    width: fit-content;
}

.barra-de-acoes{
    background-color: #efefff;
    width: fit-content;
}


img{
    height: 50px;
}